* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

/* Logo */
.menu_logo {
  margin-bottom: 20px;
}
.menu_logo-content_top {
  margin: auto;
  width: 80%;
  font-size: 30px;
}
.logo i {
  background-color: rgb(17, 17, 81);
  color: orange;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  text-align: center;
  line-height: 60px;
  white-space: nowrap;
  margin: 20px 2px;
}
.nav_top {
  list-style-type: none;
  padding-left: 160px;
}
.nav_top li {
  display: inline-block;
  font-size: 25px;
  padding-right: 30px;
}
.nav_top a {
  text-decoration: none;
  color: black;
}

/* Banner */
.banner {
  background-image: url(./images/2.jpg);
  height: 450px;
  background-size: cover;
}

/* Welcome */
.welcome_content {
  padding: 60px 130px;
}
.welcome_left,
.welcome_right {
  width: 50%;
  float: left;
}
.welcome_left {
  padding: 0 30px;
}
.welcome_left .text_content {
  color: gray;
  line-height: 1.5;
  margin: 15px 0;
  font-size: 11px;
}
.welcome_left button {
  background-color: #fbbc04;
  border: none;
  padding: 10px 25px;
  font-weight: 700;
  border-radius: 4px;
  margin-top: 5px;
}

.welcome_right img {
  width: 100%;
  padding-bottom: 60px;
}

/* Feature */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.feature {
  padding: 40px 0;
  clear: both;
  background-color: #f6f7f7;
}
.feature-content {
  margin: auto;
  width: 80%;
}

.item {
  float: left;
  width: 25%;
}

.item h2 {
  font-size: 35px;
}
.item p {
  margin: 3px 0;
  padding: 4px 0;
  font-size: 12px;
}

.item .left-item {
  float: left;
  width: 20%;
}
.item .right-item {
  float: left;
  width: 50%;
}

/* Job */
.job {
  padding: 50px 0 280px 0;
}
.job-content {
  margin: auto;
  width: 85%;
}
.job-item {
  float: left;
  width: 22%;
  font-weight: 100;
  padding: 20px 0;
  margin: 10px 10px;
  line-height: 20px;
  text-align: center;
  background-color: #012147;
  color: white;
}
.job-item i {
  font-size: 30px;
}
.job-item p {
  font-size: 15px;
}

/* Posts */
.posts {
  clear: both;
  background-color: #f6f7f7;
}
.posts h3 {
  font-size: 35px;
  padding: 0 0 40px 2px;
  font-weight: bolder;
}
.post-content {
  margin: auto;
  width: 95%;
}
.left-content,
.right-content {
  width: 50%;
  float: left;
}
.left-content {
  /* padding-top: 90px; */
  padding: 90px 0 90px 60px;
  margin-right: -15px;
  /* padding-left: 60px; */
  position: relative;
}
.left-content hr {
  position: absolute;
  margin-top: -5px;
  left: 15%;
  width: 82%;
  height: 1px;
  border-width: 0.2px;
  border: .1px solid rgb(136, 134, 134);
  margin-left: auto;
  margin-right: 10px;
}
.left-content .post-item {
  padding: 20px 10px 20px 5px;
  height: 165px;
  background-color: white;
}
.left-content .post-item .post-img img {
  width: 40%;
  float: left;
  border-radius: 5px;
  padding: 5px 12px;
}
.left-content .post-item .post-text {
  width: 60%;
  float: left;
  padding-left: 20px;
}
.post-text h6 {
  font-size: 16px;
  font-weight: bold;
}
.post-text .sub-text {
  color: #595858;
  padding-top: 12px;
  font-size: 14px;
}
.post-text p {
  color: #595858;
  line-height: 1.4;
  padding-top: 25px;
  font-size: 12px;
}

/* Right  */
.right-content {
  padding-top: 90px;
  padding-left: 60px;
}
.right-content .post-item {
  height: 195px;
  background-color: white;
}
.right-content .card {
  width: 15%;
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}

.card__top {
  background-color: #fcc801;
  font-weight: bolder;
  padding: 13px 50px;
  border-radius: 10px 10px 0 0;
}
.card__bottom {
  background-color: #002147;
  color: white;
  padding: 10px 50px;
  border-radius: 0 0 10px 10px;
}
.card__top .card_numb {
  font-size: 30px;
  font-weight: bold;
}
.card__top p {
  margin-left: -13px;
  font-size: 15px;
  font-weight: lighter;
}
.card__bottom p {
  margin-left: -15px;
}
.right-content .post-text-right {
  width: 85%;
  float: left;
  padding-left: 70px;
  padding-right: 20px;
}
.post-text-right h6 {
  padding-top: 22px;
  padding-right: 12px;
  font-size: 16px;
  font-weight: 700;
}
.post-text-right .mid-text {
  font-size: 14px;
  line-height: 1.6;
  color: #595858;
}
.post-text-right .bottom-text {
  color: #012147;
  font-weight: normal;
  font-size: 14px;
}
.post-text-right .bottom-text span {
  padding: 12px;
  color: #595858;
  font-size: 25px;
  font-weight: 100;
  vertical-align: sub;
}
.posts .button-post {
  background-color: #fcc801;
  border: none;
  padding: 10px 25px;
  font-weight: 700;
  border-radius: 4px;
  margin-top: 25px;
  float: right;
}

/* Footer */
.footer {
  clear: both;
  background-color: #012046;
}
.footer ul {
  list-style-type: none;
}
.footer-content {
  margin: auto;
  width: 84%;
  color: rgb(245, 240, 240);
  line-height: 2;
}
.footer-content h4 {
  padding-bottom: 20px;
}
.footer-content li {
  font-size: 14px;

}
.contact-us {
  width: 38%;
  float: left;
}
.feature-links,
.quick-links {
  width: 31%;
  float: left;
}
.contact-us {
  padding: 60px 60px 60px 0;
}

.contact-us i {
  color: #fcc801;
  padding-right: 10px;
}
.feature-links {
  padding: 60px 0;
}
.quick-links {
  padding: 60px 55px;
}


.footer-content hr {
  border: .1px solid rgb(136, 134, 134);
}
.copyrights {
  padding: 60px 0;
  margin-top: -30px;
}
.copyrights span {
  color: gray;
}